<div class="app-card card text-center" style="width: 18rem;">
    <div class="app-img">
        <img src="assets/{{ item.image }}" class="card-img-top" alt="agencia" />
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ item.agencia }}</h5>
        <p class="card-text">{{ item.departamento }} - {{ item.distrito }}</p>
        <p class="card-text">
            {{ item.direccion }}
        </p>
        <a (click)="openDetailView(item.id)" class="btn btn-primary button-color">Ver detalle</a>
    </div>
</div>